<html>
<head>
    <title>Congratulations!</title>
</head>
<body>

    <h1>You have reached your fundraising goal of <%= @project.goal %> for <%= @project.title %>!</h1>

    <p>You will receive the amount in your registered bank account in the next three business days. Good luck with your project!</p>

    

</body>
</html>