<div class="tier" id="<%= tiers.id %>">
  <p>Pledge: <%= tiers.amount %></p>
  <p>What you get: <%= tiers.rewards %></p>
  <p class="numOfPledges">Number of pledges: <span><%= tiers.pledges.count %></span></p>
</div>