
<%= render partial: 'shared/header' %>

<h1>Here are all the projects</h1>

<div class="projects_container">

    <%= render @projects %>

</div>

<div class="paginate_contaner">
<%= paginate @projects %>
</div>     